body {
  background-color: IndianRed;
}
p {
  color: white;
}
h1 {
  color: blue;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 5em;
}
div {
  margin-left: 100px;
  margin-top: 70px;
}
P {
  font-style: normal;
  font-family: sans-serif;
  width: 1000px;
}
